*{
    margin: 0;
    font-family: 'inter';
}

#menu-sup{
    background-color: #303030;
    color: white;
    padding-top: 25px;
    padding-bottom: 10px;
}

#titulo-menusup{
    font: bolder;
    margin: 100px 0px 10px 75px;
}

#text-menusup{
    margin-left: 80px;
    margin-bottom: 75px;
}

#menu-info{
    background-color: #f5f5f5;
    align-items: center;
    display: grid;
    grid-auto-flow: column;
    columns: auto;
    padding: 35px 0px 25px 125px;
}

#numeros:hover{
    transform: translateY(-5px);
}

#secaoimg{
    display: grid;
    grid-auto-flow: column;
    columns: auto;
    align-items: center;
    margin-left: 150px;
}

img{
    margin-top: 50px;
    margin-bottom: 50px;
    Width: 400px;
    Height: 450px;
}

#interior:hover{
    transform: translateY(-3px);
}

#form{
    background-color: #303030;
    text-align: center;
}

#titulo-form{
    color: #ffffff;
    padding: 25px;
}

input{
    Width: 375px;
    Height: 40px;
    border: 0px;
    border-radius: 10px;
    margin: 20px;
    padding-left: 20px;
}

button{
    background-color: #C07212;
    color: white;
    cursor: pointer;
    Width: 190px;
    Height: 40px;
    border: 0px;
    border-radius: 10px;
    margin: 25px 0px 50px 0px;
    font-weight: bolder;
}

button:hover{
    background-color:#c28f52;
    color: white;
    transform: translateY(3px);
    box-shadow: 0px 15px 20px #3b2306;
}